/*Declaracion de variables root*/
:root {
  --white: #ffffff;
  --black: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  /*1rem = 10px*/
  font-family: "Righteous", cursive;
}

.titulo {
  text-align: center;
  font-size: 3.8rem;
  font-family: "Train One", cursive;
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.nav-bg {
  background-color: var(--secundario);
}

/*Navegacion principal*/
.navegacion-principal {
  display: flex;
  flex-direction: column;
}

/*Media Querie*/
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*Navegacion principal hove links*/
.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--black);
}

/*Navegacion principal links*/
.navegacion-principal a {
  text-align: center;
  padding: 1rem;
  color: var(--white);
  text-decoration: none;
  font-size: 2rem;
}

.boton {
  background-color: var(--secundario);
  color: var(--white);
  padding:1rem 3rem;
  margin-top: 1rem;
  font-size:2rem;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:bold;
  border-radius:.5rem;
}

.boton:hover {
  color: var(--black);
}

.hero {
  background-image: url(/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 41rem;
  position: relative;
}

.url {
  color: var(--black);
  text-decoration: none;
}

.contenido-hero {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.location{
  padding-bottom:1rem;
}